# IDE-specific
.idea/
.vscode/

# Python
.venv
venv
.coverage
.pytest_cache
__pycache__
*.egg-info

# Environment variables
.env
.env.local
.env.*.local

# SQLite
*.db
*.db-journal

# Testing
htmlcov/
.tox/

# SDD artifacts
openspec/
.atl/

# Other
.DS_Store
*.log
*.pid
